@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
  }
  
  
  #moon {
     cursor: pointer;
     
  }
  
  .logo h1{
    font-size: 50px;
    font-weight: bold;
   
  }

  p{
    font-size: 11px;
    font-weight: 100;
    

  }
.weather-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}


.illustrator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 1rem 60px 1rem;
}

input {
    border: none;
    background: #171717;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: #fff;
}

.weather-search {
    position: relative;
    margin-left: 200px;
}

.weather-search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.weather-units {
    font-size: 1.5rem;
    margin-right: 220px;
}

.weather-units span {
    cursor: pointer;
}

.weather-units span:first-child {
    margin-right: 0.5rem;
}

.weather-body {
    text-align: center;
    margin-top: 3rem;
}

.weather-datetime {
    margin-bottom: 2rem;
    font-size: 14px;
}

.weather-forecast {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: none;
    background: #171717;
    color: #fff;
}


.weather-icon img {
    width: 100px;
}

.weather-temperature {
    font-size: 1.75rem;
}

.weather-minmax {
    display: flex;
    justify-content: center;
}

.weather-minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather-info {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  
}

.weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #171717;
    outline: none;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    margin-bottom: 2rem;
    
}

.weather-card i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather-card p {
    font-size: 14px;
}

.footer{
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    color: #fff;
    font-size: 13px;
}


@media(max-width: 1200px){
  
 .weather-info {
        margin: 1rem;
    }


@media(max-width: 936px){
   

    .weather-search{
        margin: 1rem;

    }

    #moon{
        margin-bottom: 30px;
        margin-left: 90px;
    }

    .weather-info {
        margin: 1rem;
    }

    .weather-header {
        flex-direction: column;
    
    }

    .weather-units {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .footer{
        font-size: 12px;
    }
}


@media(max-width: 400px){

    .weather-body {
        font-size: 14px;
    }
    
    .weather-header{
        justify-self: center;
    }

    .weather-units {
        margin-right: 1rem;
    }

    #moon{
        
        margin-left: 90px;
    }
    .weather-info {
        grid-template-columns: none;
        
    }
    
    .weather-card{
        margin-bottom: 0;
        
    }

    .footer{
        font-size: 10px;
    }

}
}